* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
/* header */

header {
  background-color: rgba(255, 255, 255, 0.9);
}
header marquee {
  background-color: #0d4659;
  color: #ffffff;
  font-size: 14px;
  height: 30px;
  padding: 5px;
}

/* header : user navbar */
.search-logo-nav {
  overflow: hidden;
  height: 10vh;
  color: #0d4659;
  text-transform: uppercase;
  padding-top: 30px;
}
.shoppingcart:hover {
  color: #cfe3e3;
}
.logo-mininav{
  overflow: hidden;
}
/* header: logo */
.header-logo {
  width: 55%;
  margin: 0;
  height: 80px;
  text-align: right;
  display: inline-block;
  float: left;
}
.logoo-mobile{
  margin: 0;
  height: 80px;
  text-align: center;
  display: inline-block;
}
.header-logo img {
  width: auto;
}

.search {
  width: 20%;
  float: left;
  text-align: right;
  padding-top: 20px;
  margin-left: 5%;
}

.search button {
  border: none;
  color: #0D4659;
}
.search button:hover {
  background-color: #0D4659;
  color: #fff;
}
.search button:active {
  background-color: #0D4659;
  color: #fff;
}

.search input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
  text-align: right;
}
.nav1 {
  width: 20%;
  text-align: right;
  padding-right: 30px;
  padding-top: 12px;
  float: right;
  text-transform: uppercase;
  color: #0D4659;
}

.login-signin {
  white-space: nowrap;
}
/*Only Mobile*/
.row{
  width: 100%;
}
.onlymobile {
  width: 33.33%;
  float: left;
  height: 60px;
}

.btn-onlymobile {
  padding-left: 50px;
  text-align: left;
  margin-top: 15px;
}

.menubtn {
  background-color: #0D4659;
  border: #0D4659;
  text-align: left;
}
.menubtn:hover{
  background-color: #98DAE0;
  border: #98DAE0;
}

.logo-onlymobile {
  text-align: center;
}

.menu-onlymobile ul{
  flex-direction: row-reverse;
  text-align: right;
  padding-right: 30px;
  margin-top: 10px;
  color: #0D4659;
}
.search-onlymobile, .shoppingcart-onlymobile {
width: 25%;
  display: inline-block;
}

/* main navbar */
.navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.navbar .nav-item {
  color: #0d4659;
  text-transform: uppercase;
}
.navbar a:hover {
  color: #98dae0;
}
.navbar .btn-menu {
  border: none;
  text-transform: uppercase;
  font-family: 'Roboto';
  color: #ffffff;
  background-color: #0d4659;
  padding: 15px;
  font-size: 15px;
  margin: 0 auto;
}
.btn-menu:hover {
  background-color: #cfe3e3;
  color: #0d4659;
  text-decoration: none;
}


/* finaliza HEADER */

/* HOME page */

.home-categorias {
  display: flex;
  direction: column;
  justify-content: center;
  margin: 0;
  padding: 0 10% 0;
  width: 100%;
}

.categoria {
  margin: 0 0 50px;
  width: 100%;
}

.categoria img {
  width: 100%;
  margin: 0;
}

.home-categorias h2{
  font-family: 'Lusitana', sans-serif;
  font-weight: lighter;
  font-size: 22px;
  background-color: #CFE3E3;
  color: #0D4659;
  text-transform: uppercase;
  text-align: center;
  padding: 15px;
  margin: 0;

}

/* finaliza HOME page */


/* FOOTER */



/* finaliza FOOTER */


/*Media queries
======================================*/

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
/* HEADER */
  .toggle-nav span{
      display: none;
  }
  .main-nav{
    flex-direction: row;
  }
  .main-nav ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

}

.main-nav li {
  margin: 0 30px;
}

.menu-user li {
  margin: 0 10px;
}


/* finaliza HEADER */

/* HOME page */

/*-----Categorias-----*/
.home-categorias {
  direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10% 0;
}

.categoria {
  margin: 0 0 50px;
  width: 45%;
}

.home-categorias h2{
  font-size: 22px;
  padding: 20px;
}

/* finaliza HOME page */



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

/* HEADER */
.toggle-nav span{
    display: none;
}

.main-nav{
  flex-direction: row;
}
.main-nav ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.main-nav li {
  margin: 0 30px;
}

.menu-user li {
  margin: 0 10px;
}


/* finaliza HEADER */


/* HOME page */

/*-----Categorias-----*/
.home-categorias {
  direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10% 0;
}

.categoria {
  margin: 0 0 50px;
  width: 30%;
}

.home-categorias h2{
  font-size: 22px;
  padding: 20px;
}

/* finaliza HOME page */

@media (min-width: 576px){
.form-inline .form-control {
  width: 50%;}}
